.selector-for-some-widget {
  box-sizing: content-box;
}

.dropdown .dropdown_content {
  position: absolute;
  display: none;
  min-width: 150px;
  z-index: 1;
  background-color: gray;
}

.dropdown .dropdown_content li {
  list-style: none !important;
  padding: 5px;
}

.dropdown .show {
  display: block;

}

/* carousel button style */

.carousel-control-next {
  left: 18% !important;

}

.carousel-control-prev {
  left: 12% !important;
}

.card_carousel .carousel-control-next,
.carousel-control-prev {
  position: absolute !important;

  width: 50px !important;
  height: 50px !important;
  top: 80% !important;
  border: 2px solid #ccc !important;

  border-radius: 50px !important;

}

.card_carousel .carousel-caption {
  position: relative !important;
  right: 0 !important;
  left: 0 !important;
  padding: 0 !important;
  bottom: 0 !important;
  text-align: left !important;
  ;

}
.cat_items{
border-radius: 0;
border: 0.2px solid transparent ;
transition: border-radius 0.3s ease-in-out ;

}

.cat_items:hover{
  border-width: 5px;
  border-color: green;
  border-radius: 50px;

}

/* feature products */
.header_feature_product{
font-family: "Arima";

}



.card_container  .card:hover .card_button{
  display: block;
  transition: 1s ease-in;
  bottom: 5px;
  animation: bottomPositionCartButton 0.5s ease-in-out;
}


@keyframes bottomPositionCartButton {

  from{
    bottom: -30px;
  }
  to{
    bottom: 5px;
  }
  
}

