.body{
  overflow-x: hidden;
  box-sizing: border-box;
}

.selector-for-some-widget {
  box-sizing: content-box;
}


header .navbar{
  background:  rgba(150, 203, 92, 0.7);
  top: 20px;
  
  
}

header .scrolled{
  background:rgb(150, 203, 92);
}

header {
  position: sticky !important;
  top: -20px;
  z-index: 1000;
  
  
}

.title-section{
  text-align: center;
  font-size: xx-large;
  text-transform: capitalize;
  padding-top: 2rem;
  padding-bottom: 2rem; 
  font-family: 'Arima';
}

.main_section_carousel{
  position: relative;
  height: 600px;
  top: 0px;
}


.dropdown .dropdown_content {
  position: absolute;
  display: none;
  min-width: 150px;
  z-index: 1;
  background-color: gray;
}

.dropdown .dropdown_content li {
  list-style: none !important;
  padding: 5px;
}

.dropdown .show {
  display: block;

}

/* carousel button style */

.carousel-control-next {
  left: 18% !important;

}

.carousel-control-prev {
  left: 12% !important;
}

.card_carousel .carousel-control-next,
.carousel-control-prev {
  position: absolute !important;
 
  width: 40px !important;
  height: 40px !important;
  top: 80% !important;
  border: 2px solid #ccc !important;

  border-radius: 50px !important;

}
.card_carousel .carousel-control-prev-icon, .carousel-control-next-icon{
  background-size: 18px !important;
}

.card_carousel .carousel-caption {
  position: relative !important;
  right: 0 !important;
  left: 0 !important;
  padding: 0 !important;
  bottom: 0 !important;
  text-align: left !important;
  ;

}
.cat_items{
border-radius: 0;
border: 0.2px solid transparent ;
border-width: 5px;
transition: border-radius 0.3s ease-in-out ;

}

.cat_items:hover{
  border-width: 5px;
  border-color: #fae4b6;
  border-radius: 50px;
  cursor: pointer;

}

/* feature products */
.header_feature_product{
font-family: "Arima";

}
.card_container .card .card_image{
  overflow: hidden;
}

.card_container .card .card_image img{
 
  transition: transform 0.5s;
 
 
}



.card_container .card .card_image:hover img{
    transform: scale(1.2);
  
}




.card_container  .card:hover .card_button{
  display: block;
  transition: 1s ease-in;
  bottom: 5px;
  animation: bottomPositionCartButton 0.5s ease-in-out;
}


/* vidoe style  */


 

.openModalBtn{
  background: rgba(250, 228, 182, 0.6);
}
.modal-header{
  z-index: 100 !important;
 
}
.modal-header .btn-close{
  color: red !important;
  background-color: white !important;
}
 


#vModalBtn{
  width: 80px;
  height: 80px;
  background: rgba(240, 233, 217, 0.5);
  border: 2px solid rgb(105, 96, 75);
  border-radius: 50px;
}

#vModalBtn:hover{
  background:unset !important;
}


/* service section  */

@keyframes spin {
  0% {
    transform: translate(170%, 170%) rotate(-0deg) translate(50px) rotate(-0deg);
  }
  100% {
    transform: translate(170%, 170%) rotate(-360deg) translate(50px) rotate(-360deg);
  }
}

.problem:hover .icon{
  color: rgb(150, 203, 92);
  transition: all 0.5s;
}


.circle {
	position: relative;
  border: 5px solid rgb(150, 203, 92);
  border-radius: 50%;
  margin: auto;
  height: 100px;
  width: 100px;
  
}

.problem:hover .ball {
  background: #39c;
  border-radius: 50%;
  position: absolute;
  border: 2px solid rgb(169, 228, 8);
  top: 0;
  bottom: 0;
  height: 20px;
  width: 20px;
  animation: spin 3s  linear infinite;
  
}


/* summer care tips */
.summer-care-tips{
  position: relative;
}
.summer-care-tips::after{
  content: "";
  width: 70%;
  height: 2px;
  position: absolute;
  left: 50%;
  background-color: rgb(150, 203, 92);
  bottom: 0;
  transform: translateX(-50%);
}

/*  */
.showcas-carousel-parent .owl-stage-outer, .showcas-carousel-parent .owl-stage-outer .owl-stage, .showcas-carousel-parent .owl-stage-outer .owl-stage .owl-item{
  height: 100% !important;

}
.showcas-carousel-parent .owl-stage-outer .owl-stage .owl-item{
  
  overflow: hidden;

  
}
.showcas-carousel-parent .owl-stage-outer .owl-stage .owl-item img{

  transition: all 0.5s ease;
  overflow: hidden;

}
.showcas-carousel-parent .owl-stage-outer .owl-stage .owl-item:hover img{
  transform: scale(1.2);

}






@keyframes bottomPositionCartButton {

  from{
    bottom: -30px;
  }
  to{
    bottom: 5px;
  }
  
}
@keyframes bgOpacity {

  from{
    bo: -30px;
  }
  to{
    bottom: 5px;
  }
  
}


/* search modal */

/* product filter style */

.switch-button{
  color: grey;
}
.active-switch{
  color: black !important;
}